-e git+https://github.com/jupyter/jupyterhub#egg=jupyterhub
-e git+https://github.com/minrk/oauthenticator@cilogon#egg=oauthenticator
-e git+https://github.com/jupyter/dockerspawner#egg=dockerspawner
PyOpenSSL
oauthlib

