netifaces
-e git+https://github.com/jupyter/jupyterhub#egg=jupyterhub
-e git+https://github.com/jupyter/oauthenticator#egg=oauthenticator
-e git+https://github.com/jupyter/dockerspawner#egg=dockerspawner
